/* Importando a fonte Poppins do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* Variáveis */

:root {
  --fonte-principal: 'Poppins', sans-serif;
  --cor-botao: #16a083;
  --cor-primaria: #444;
  --cor-secundaria: #555;
  --cor-branca-padrao: #fff;
  --cor-hover-navbar: #117964;
}

/* Estilos globais */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* Corresponde a 10px e ajuda a facilitar os calculos quando utilzar a unidade de medida REM, ou seja: 10px = 1rem */
}

body {
  font-family: var(--fonte-principal);
}

/* CLASSES ÚTEIS */

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

/* NAVBAR */

.cabecalho {
  position: fixed;
  z-index: 999;
  height: 64px;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  opacity: 0.75;
  box-shadow: 0px 2px 10px 1px #555;
}

input[type="checkbox"],
.hamburger-menu {
  display: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__menu {
  display: flex;
  order: 2;
  list-style: none;
  gap: 1.5rem;
}

.navbar__link {
  text-decoration: none;
  color: var(--cor-primaria);
  font-size: 1.8rem;
  font-weight: 500;
  transition: color 0.5s ease-in-out;
}

.navbar__link:hover {
  color: var(--cor-hover-navbar);
}

.logo {
  order: 1;
  font-size: 3rem;
  margin-right: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.logo__link {
  text-decoration: none;
  color: #000;
}

.logo:hover {
  color: var(--cor-hover-navbar);
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Configuração para tablets */
}

@media screen and (max-width: 767px) {
  /* Configuração para mobile */

  .cabecalho,
  .navbar {
    display: block;
  }

  .navbar {
    position: relative;
  }

  input[type="checkbox"],
  .hamburger-menu {
    display: block;
  }

  input[type="checkbox"] {
    position: absolute;
    width: 40px;
    height: 36px;
    z-index: 2;
    top: 10px;
    left: 15px;
    opacity: 0;
  }

  .hamburger-menu {
    position: absolute;
    width: 40px;
    height: 36px;
    z-index: 1;
    top: 14px;
    left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hamburger__linha {
    height: 5px;
    background-color: #000;
    border-radius: 5px;
  }

  .hamburger-menu .linha1 {
    transform-origin: 0% 50%;
    transition: all 0.3s ease-in-out;
  }

  .hamburger-menu .linha2 {
    transition: transform 0.6s ease-in-out;
  }

  .hamburger-menu .linha3 {
    transform-origin: 0% 50%;
    transition: all 0.3s ease-in-out;
  }

  input[type="checkbox"]:checked~.hamburger-menu .linha1 {
    transform: rotate(50deg);
    background-color: #117964;
  }

  input[type="checkbox"]:checked~.hamburger-menu .linha2 {
    transform: translate(-250%);
  }

  input[type="checkbox"]:checked~.hamburger-menu .linha3 {
    transform: rotate(-50deg);
    background-color: #117964;
  }

  .navbar__menu {
    padding-top: 120px;
    flex-direction: column;
    align-items: center;
    transform: translateX(-150%);
    min-height: 100vh;
    gap: 4rem;
    max-width: 250px;
    background-color: #fff;
    box-shadow: 0px 2px 10px 1px #555;
    transition: all 0.6s ease-in-out;
  }


  .navbar__item:active .navbar__menu {
    max-width: 500px;
  }

  input[type="checkbox"]:checked~.navbar__menu {
    transform: translate(-12%);
  }

  .logo {
    position: absolute;
    top: 10px;
    right: 0;
  }


}